:root {
  --duration:0.7s;
  --m:16px;
}

.panel-overlay {
  position: absolute;
  top: 0;
  right: 0; 
  width: 50%;
  height: 100%;
  background-color: var(--color-biru);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 80px 0 0 80px;
  border-left: var(--m) solid var(--color-golden);
  
  transition: transform var(--duration) cubic-bezier(0.77, 0, 0.175, 1), 
              background-color var(--duration) ease, 
              border-radius var(--duration) ease;
}

.panel-overlay.active {
  transform: translateX(-100%);
  background-color: white;
  border-radius: 0 80px 80px 0;
  border-left: none;
  border-right: var(--m) solid var(--color-golden);
}

@media screen and (max-width: 768px) {

  .panel-overlay {
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
    right: auto;
    border-radius: 40px 40px 0 0;
    border-left: none;
    border-top: 8px solid var(--color-golden);
    transition: transform var(--duration) cubic-bezier(0.77, 0, 0.175, 1), 
                background-color var(--duration) ease, border-radius var(--duration) ease;
  }

    .panel-overlay.active {
    height: 52%;
    transform: translateY(-100%);
    border-radius: 0 0 40px 40px;
    border-right: none;
    border-bottom: 8px solid var(--color-golden);
  }

}